.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-Slider{
  width: 700px;
  height: 700px;
  position: relative;
}

.App-Slide{
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.rarrow{
  color: pink;
}

.larrow{
  color: pink;
}
