html body {
    background-color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .App-Slider{
  width: 700px;
  height: 700px;
  position: relative;
}

.App-Slide{
  width: 50%;
  height: 50%;
  border-width: 2px;
  border-color: rebeccapurple;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* .slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.rarrow{
  color: pink;
}

.larrow{
  color: pink;
} */

.hometitle {
  text-align: center;
  margin: 30px;
  background-image: url("../components/assets/uofthighres2.jpeg");
  background-size: cover;
}
.auth-form {
  width: 400px;
}
.deletebar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.pagetitle {
  text-align: center;
  margin-top: 10px;
}

.navitem {
  text-align: center;
  margin: 10px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-width: 4px;
}

table tr th {
  font-weight: normal;
}
.checkin-title {
  font-weight: bold;
  font-size: 125%;
}

.active-card {
  background-color: lightyellow;
}

.display-name-input {
  width: 15rem;
}

.handle {
  color: grey;
}

.profile-section {
  width: 40rem;
}

.attractionbutton {
  margin: 10px;
  width: 120px;
  height: 50px;
}

.homeline {
  color: white;
}

.arrow {
  width: 100px;
  margin: 20px;
}

.homeimg {
  width: 60vw;
}
.homequote {
  text-align: center;
  margin: 30px;
}
.sliderTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sliderTableRow {
  width: 100%;
  text-align: center;
}

.homesubl {
  text-align: left;
  margin-left: 20px;
}
.homesubr {
  text-align: right;
  margin-right: 20px;
}
.hometxtr {
  text-align: right;
  margin-right: 30px;
}

.hometxt {
  margin-left: 30px;
}
